* {
  font-family: "Cairo", sans-serif;
}

header .info {
  width: 300px;
}
header .info img {
  width: 200px;
}
header .info p {
  color: #0084bd;
}
header nav {
  background-color: #0084bd;
  border-radius: 30px;
}
header nav a {
  color: #fff !important;
}
header nav a:hover {
  font-size: 25px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

path {
  color: #0084bd;
}

.main_contact .container .row .Create_your_website {
  -webkit-box-shadow: 20px 20px 20px 0px #eee;
          box-shadow: 20px 20px 20px 0px #eee;
  border-radius: 30px;
}
.main_contact .container .row .Create_your_website h1 {
  color: rgba(46, 129, 166, 0.6784313725);
}
.main_contact .container .row .Create_your_website svg {
  font-size: 130px;
}

.container_staff {
  background: rgba(242, 242, 242, 0.2392156863);
  padding: 50px;
  border-radius: 30px;
  -webkit-box-shadow: 4px 17px 13px 0px #e6e5e5;
          box-shadow: 4px 17px 13px 0px #e6e5e5;
  margin: 35px;
}

footer {
  background-color: #0084bd;
}
footer .pp {
  font-size: 20px;
}

@media (max-width: 990px) {
  header nav {
    background: none !important;
  }
  header nav a {
    color: #0084bd !important;
  }
  path {
    color: #0084bd;
  }
}